img {
    margin: 20px;
}

.room-information-container {
    margin-left: 20px;
    margin-top: 20px;
}

.bookings-table {
    margin-left: 20px;
    margin-top: 20px;
}

.days-profit {
    margin-left: 20px;
}
